<a href="https://colab.research.google.com/github/santiagojorda/FIUBA-base-de-datos/blob/main/colab-tp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importo Pandas para el procesamiento de datos.

In [ ]:
import pandas as pd
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1Io3HX-SVgtT2oPFbz67IF7BGBGrd3MWn', header=None)
print(df.head())

                                                   0
0  FECHA;DESDE;HASTA;LINEA;MOLINETE;ESTACION;pax_...
1  1/1/2023;07:45:00;08:00:00;LineaB;LineaB_Alem_...
2  1/1/2023;07:45:00;08:00:00;LineaA;LineaA_Acoyt...
3  1/1/2023;07:45:00;08:00:00;LineaB;LineaB_Lacro...
4  1/1/2023;07:45:00;08:00:00;LineaB;LineaB_Paste...

Separo en columnas los datos leidos.

In [ ]:
df = df[0].str.split(';', expand=True)
print(df.head())

          0         1         2       3                        4  \
0     FECHA     DESDE     HASTA   LINEA                 MOLINETE
1  1/1/2023  07:45:00  08:00:00  LineaB     LineaB_Alem_S_Turn04
2  1/1/2023  07:45:00  08:00:00  LineaA   LineaA_Acoyte_S_Turn01
3  1/1/2023  07:45:00  08:00:00  LineaB  LineaB_Lacroze_E_Turn06
4  1/1/2023  07:45:00  08:00:00  LineaB  LineaB_Pasteur_S_Turn02

                  5          6                7          8          9
0          ESTACION  pax_pagos  pax_pases_pagos  pax_franq  pax_TOTAL
1   Leandro N. Alem          0                0          2          2
2            Acoyte          0                0          2          2
3  Federico Lacroze          3                0          0          3
4           Pasteur          1                0          0          1

Alineo los nombres de las columnas y reseteo el index.

In [ ]:
df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)
print(df.head())

0     FECHA     DESDE     HASTA   LINEA                          MOLINETE  \
0  1/1/2023  07:45:00  08:00:00  LineaB              LineaB_Alem_S_Turn04
1  1/1/2023  07:45:00  08:00:00  LineaA            LineaA_Acoyte_S_Turn01
2  1/1/2023  07:45:00  08:00:00  LineaB           LineaB_Lacroze_E_Turn06
3  1/1/2023  07:45:00  08:00:00  LineaB           LineaB_Pasteur_S_Turn02
4  1/1/2023  07:45:00  08:00:00  LineaC  LineaC_Constitucion_Plaza_Turn04

0          ESTACION pax_pagos pax_pases_pagos pax_franq pax_TOTAL
0   Leandro N. Alem         0               0         2         2
1            Acoyte         0               0         2         2
2  Federico Lacroze         3               0         0         3
3           Pasteur         1               0         0         1
4      Constitucion         1               0         0         1

Eliminación de registros inválidos.

In [ ]:
df = df.dropna()
print(df.head())

0     FECHA     DESDE     HASTA   LINEA                          MOLINETE  \
0  1/1/2023  07:45:00  08:00:00  LineaB              LineaB_Alem_S_Turn04
1  1/1/2023  07:45:00  08:00:00  LineaA            LineaA_Acoyte_S_Turn01
2  1/1/2023  07:45:00  08:00:00  LineaB           LineaB_Lacroze_E_Turn06
3  1/1/2023  07:45:00  08:00:00  LineaB           LineaB_Pasteur_S_Turn02
4  1/1/2023  07:45:00  08:00:00  LineaC  LineaC_Constitucion_Plaza_Turn04

0          ESTACION pax_pagos pax_pases_pagos pax_franq pax_TOTAL
0   Leandro N. Alem         0               0         2         2
1            Acoyte         0               0         2         2
2  Federico Lacroze         3               0         0         3
3           Pasteur         1               0         0         1
4      Constitucion         1               0         0         1

Ajuste de formato en los datos.

In [ ]:
df['FECHA'] = pd.to_datetime(df['FECHA'], format= "%d/%m/%Y")
print(df.head())

0      FECHA     DESDE     HASTA   LINEA                          MOLINETE  \
0 2023-01-01  07:45:00  08:00:00  LineaB              LineaB_Alem_S_Turn04
1 2023-01-01  07:45:00  08:00:00  LineaA            LineaA_Acoyte_S_Turn01
2 2023-01-01  07:45:00  08:00:00  LineaB           LineaB_Lacroze_E_Turn06
3 2023-01-01  07:45:00  08:00:00  LineaB           LineaB_Pasteur_S_Turn02
4 2023-01-01  07:45:00  08:00:00  LineaC  LineaC_Constitucion_Plaza_Turn04

0          ESTACION pax_pagos pax_pases_pagos pax_franq pax_TOTAL
0   Leandro N. Alem         0               0         2         2
1            Acoyte         0               0         2         2
2  Federico Lacroze         3               0         0         3
3           Pasteur         1               0         0         1
4      Constitucion         1               0         0         1

In [ ]:
print(df.dtypes)

0
FECHA              datetime64[ns]
DESDE                      object
HASTA                      object
LINEA                      object
MOLINETE                   object
ESTACION                   object
pax_pagos                  object
pax_pases_pagos            object
pax_franq                  object
pax_TOTAL                  object
dtype: object

In [ ]:
df['DESDE'] = pd.to_datetime(df['DESDE'], format= "%H:%M:%S").dt.time
df['HASTA'] = pd.to_datetime(df['HASTA'], format= "%H:%M:%S").dt.time
print(df.head())

0      FECHA     DESDE     HASTA   LINEA                          MOLINETE  \
0 2023-01-01  07:45:00  08:00:00  LineaB              LineaB_Alem_S_Turn04
1 2023-01-01  07:45:00  08:00:00  LineaA            LineaA_Acoyte_S_Turn01
2 2023-01-01  07:45:00  08:00:00  LineaB           LineaB_Lacroze_E_Turn06
3 2023-01-01  07:45:00  08:00:00  LineaB           LineaB_Pasteur_S_Turn02
4 2023-01-01  07:45:00  08:00:00  LineaC  LineaC_Constitucion_Plaza_Turn04

0          ESTACION pax_pagos pax_pases_pagos pax_franq pax_TOTAL
0   Leandro N. Alem         0               0         2         2
1            Acoyte         0               0         2         2
2  Federico Lacroze         3               0         0         3
3           Pasteur         1               0         0         1
4      Constitucion         1               0         0         1

In [ ]:
df['LINEA'] = df['LINEA'].astype('category')
print(df.dtypes)

0
FECHA              datetime64[ns]
DESDE                      object
HASTA                      object
LINEA                    category
MOLINETE                   object
ESTACION                   object
pax_pagos                  object
pax_pases_pagos            object
pax_franq                  object
pax_TOTAL                  object
dtype: object

In [ ]:
df['MOLINETE'] = df['MOLINETE'].astype('category') # PODRIA SER UNA CATEGORIA
df['ESTACION'] = df['ESTACION'].astype('category')
print(df.dtypes)

0
FECHA              datetime64[ns]
DESDE                      object
HASTA                      object
LINEA                    category
MOLINETE                   object
ESTACION                   object
pax_pagos                  object
pax_pases_pagos            object
pax_franq                  object
pax_TOTAL                  object
dtype: object

In [ ]:
df['pax_pagos'] = df['pax_pagos'].astype(int)
df['pax_pases_pagos'] = df['pax_pases_pagos'].astype(int)
df['pax_franq'] = df['pax_franq'].astype(int)
df['pax_TOTAL'] = df['pax_TOTAL'].astype(int)
print(df.dtypes)

0
FECHA              datetime64[ns]
DESDE                      object
HASTA                      object
LINEA                    category
MOLINETE                   object
ESTACION                   object
pax_pagos                   int64
pax_pases_pagos             int64
pax_franq                   int64
pax_TOTAL                   int64
dtype: object

In [ ]:
print(df.head())

0      FECHA     DESDE     HASTA   LINEA                          MOLINETE  \
0 2023-01-01  07:45:00  08:00:00  LineaB              LineaB_Alem_S_Turn04
1 2023-01-01  07:45:00  08:00:00  LineaA            LineaA_Acoyte_S_Turn01
2 2023-01-01  07:45:00  08:00:00  LineaB           LineaB_Lacroze_E_Turn06
3 2023-01-01  07:45:00  08:00:00  LineaB           LineaB_Pasteur_S_Turn02
4 2023-01-01  07:45:00  08:00:00  LineaC  LineaC_Constitucion_Plaza_Turn04

0          ESTACION  pax_pagos  pax_pases_pagos  pax_franq  pax_TOTAL
0   Leandro N. Alem          0                0          2          2
1            Acoyte          0                0          2          2
2  Federico Lacroze          3                0          0          3
3           Pasteur          1                0          0          1
4      Constitucion          1                0          0          1

Creación de archivo de muestra para la revisión manual.

In [ ]:
muestra = df.sample(n=385, random_state=4)
print(muestra)

0           FECHA     DESDE     HASTA   LINEA                  MOLINETE  \
120583 2023-01-07  12:00:00  12:15:00  LineaB     LineaB_Pueyr_S_Turn02
135107 2023-01-08  12:00:00  12:15:00  LineaC    LineaC_Moreno_S_Turn01
333633 2023-01-18  16:30:00  16:45:00  LineaB   LineaB_Medrano_N_Turn01
467247 2023-01-25  16:15:00  16:30:00  LineaC    LineaC_AVMayo_S_Turn03
449992 2023-01-24  19:00:00  19:15:00  LineaA    LineaA_Acoyte_N_Turn01
...           ...       ...       ...     ...                       ...
373094 2023-01-20  15:30:00  15:45:00  LineaA   LineaA_Piedras_S_Turn02
53989  2023-01-04  06:45:00  07:00:00  LineaB    LineaB_Gardel_N_Turn02
581481 2023-01-31  16:00:00  16:15:00  LineaA     LineaA_Alberti_Turn03
263134 2023-01-14  19:45:00  20:00:00  LineaA   LineaA_CBarros_S_Turn01
72742  2023-01-04  23:00:00  23:15:00  LineaA  LineaA_Miserere_S_Turn02

0              ESTACION  pax_pagos  pax_pases_pagos  pax_franq  pax_TOTAL
120583       Pueyrredon         24                0          0         24
135107   Mariano Moreno          1                0          0          1
333633          Medrano         42                0          0         42
467247  Avenida de Mayo         15                0          4         19
449992           Acoyte         10                0          0         10
...                 ...        ...              ...        ...        ...
373094          Piedras         24                0          0         24
53989     Carlos Gardel          0                0          0          0
581481          Alberti         30                0          0         30
263134    Castro Barros          9                0          1         10
72742    Plaza Miserere          1                0          0          1

[385 rows x 10 columns]

In [ ]:
muestra.to_csv('muestra.csv', index=False)

Importo sqlite para la exportación de los datos a una base de datos.

In [ ]:
import sqlite3
conn = sqlite3.connect('bdd_tp.sqlite')

In [ ]:
df.to_sql('molinetes', conn, if_exists='replace', index=False)

589514

Lectura de los datos desde la base de datos.

In [ ]:
df_from_db = pd.read_sql_query('SELECT * FROM molinetes', conn)
print(df_from_db.head())

                 FECHA            DESDE            HASTA   LINEA  \
0  2023-01-01 00:00:00  07:45:00.000000  08:00:00.000000  LineaB
1  2023-01-01 00:00:00  07:45:00.000000  08:00:00.000000  LineaA
2  2023-01-01 00:00:00  07:45:00.000000  08:00:00.000000  LineaB
3  2023-01-01 00:00:00  07:45:00.000000  08:00:00.000000  LineaB
4  2023-01-01 00:00:00  07:45:00.000000  08:00:00.000000  LineaC

                           MOLINETE          ESTACION  pax_pagos  \
0              LineaB_Alem_S_Turn04   Leandro N. Alem          0
1            LineaA_Acoyte_S_Turn01            Acoyte          0
2           LineaB_Lacroze_E_Turn06  Federico Lacroze          3
3           LineaB_Pasteur_S_Turn02           Pasteur          1
4  LineaC_Constitucion_Plaza_Turn04      Constitucion          1

   pax_pases_pagos  pax_franq  pax_TOTAL
0                0          2          2
1                0          2          2
2                0          0          3
3                0          0          1
4                0          0          1

Información de las columans de mi base de datos.

In [ ]:
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(molinetes)")
print(cursor.fetchall())

[(0, 'FECHA', 'TIMESTAMP', 0, None, 0), (1, 'DESDE', 'TIME', 0, None, 0), (2, 'HASTA', 'TIME', 0, None, 0), (3, 'LINEA', 'TEXT', 0, None, 0), (4, 'MOLINETE', 'TEXT', 0, None, 0), (5, 'ESTACION', 'TEXT', 0, None, 0), (6, 'pax_pagos', 'INTEGER', 0, None, 0), (7, 'pax_pases_pagos', 'INTEGER', 0, None, 0), (8, 'pax_franq', 'INTEGER', 0, None, 0), (9, 'pax_TOTAL', 'INTEGER', 0, None, 0)]

Cierre de la conexión a la base de datos.

In [ ]:
conn.close()